# 0.0. Mission

## Context

<p> Alpha Insurance is a company that provides health insurance to their customers. With the goal of improving <br> their revenue the product team is thinking about 
the possibility of offering car insurance to its customers.</p>

<p>The enterprise has made a research with over 380,000 customers to know their intention
in purchasing the new <br> service. The product team has selected another 127,000 customers
that the sales team will try to sell the new service. </p>
    
<p>As the sales team cannot get in touch with all of the selected customers during the campaign time,
they need to <br> give priority to those clients that are more likely to purchase the service. So 
they need a data scientist to select the <br> 20,000 more interested customers. </p>

## Challenge

<b>Select the 20,000 customers, that are more interested in buying the car insurance.</b>

# 1.0. Preparing Process

## 1.1. IMPORTS

In [2]:
import math
import datetime
import inflection
import numpy as np
import pandas as pd
import random
import matplotlib.pyplot as plt


###--------- PANDAS - EXIBIR TODAS COLUNAS ----###

pd.set_option('display.max_columns', None)


###--------- ESTILIZAÇÃO DO NOTEBOOK ---------###

from IPython.core.display import display, HTML

# retira a margem do notebook
display(HTML("<style>.container { width:100% !important; }</style>"))

# font do texto markdown
display(HTML("<style>h1 { font-size:23px !important; }</style>"))
display(HTML("<style>h2 { font-size:20px !important; }</style>"))
display(HTML("<style>h3 { font-size:17px !important; }</style>"))
display(HTML("<style>h4 { font-size:16px !important; }</style>"))
display(HTML("<style>p { font-size:16px !important; }</style>"))

# tamanho da fonte da tabela
display(HTML("<style>th { font-size:15px !important; }</style>"))
display(HTML("<style>td { font-size:15px !important; }</style>"))

# font do codigo 
display(HTML("<style>span { font-size:16px !important; }</style>"))

## 1.2. Helper Functions

## 1.3. Loading Data

In [3]:
train_raw_data = pd.read_csv('data/train.csv', low_memory=False)
test_raw_data = pd.read_csv('data/test.csv', low_memory=False)

In [11]:
train_raw_data.sample()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
68320,68321,Male,22,1,33.0,1,< 1 Year,No,31053.0,152.0,26,0

# 2.0. Data Description

In [12]:
df2 = train_raw_data.copy()

## 2.1. Rename Columns

In [14]:
cols_old = ['id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
               'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
               'Policy_Sales_Channel', 'Vintage', 'Response']
cols_old

['id',
 'Gender',
 'Age',
 'Driving_License',
 'Region_Code',
 'Previously_Insured',
 'Vehicle_Age',
 'Vehicle_Damage',
 'Annual_Premium',
 'Policy_Sales_Channel',
 'Vintage',
 'Response']

In [17]:
snakecase = lambda x: inflection.underscore( x )

cols_new = list( map( snakecase, cols_old ) )

df2.columns = cols_new

## 2.2. Data Dimension

In [19]:
print('The number of rows is: {}'.format( df2.shape[0] ))
print('The number of columns is: {}'.format( df2.shape[1] ))

The number of rows is: 381109
The number of columns is: 12

## 2.3. Data Types

In [20]:
df2.dtypes

id                        int64
gender                   object
age                       int64
driving_license           int64
region_code             float64
previously_insured        int64
vehicle_age              object
vehicle_damage           object
annual_premium          float64
policy_sales_channel    float64
vintage                   int64
response                  int64
dtype: object

In [40]:
# Check if can convert region_code from float to int
aux1 = np.array( df2['region_code'] )
aux2 = aux1.astype(int)
np.sum( aux1 - aux2 )

# Converting region_code from float to int
df2['region_code'] = df2['region_code'].astype(int)
df2.dtypes

id                        int64
gender                   object
age                       int64
driving_license           int64
region_code               int64
previously_insured        int64
vehicle_age              object
vehicle_damage           object
annual_premium          float64
policy_sales_channel    float64
vintage                   int64
response                  int64
dtype: object

In [41]:
df2.sample()

,id,gender,age,driving_license,region_code,previously_insured,vehicle_age,vehicle_damage,annual_premium,policy_sales_channel,vintage,response
359545,359546,Male,25,1,10,1,< 1 Year,No,34464.0,152.0,17,0